/* Classic style for WampServer */

* {
	margin: 0;
	padding: 0;
}

html {
	background: #ddd;
}

body {
	margin: 1em 10%;
	padding: 1em 3em;
	font: 80%/1.4 tahoma, arial, helvetica, lucida sans, sans-serif;
	border: 1px solid #999;
	background: #eee;
	position: relative;
}

.innerhead {
	margin-bottom: 1.8em;
	margin-top: 1.8em;
	padding-bottom: 0em;
	border-bottom: 1px solid #999;
	letter-spacing: -500em;
	text-indent: -500em;
	height: 100px;
	background: url(../../index.php?img=gifLogo) 0 0 no-repeat;
}

.utility {
	position: absolute;
	right: 4em;
	top: 115px;
	font-size: 0.85em;
}

.utility li {
	display: inline;
}

h2 {
	margin: .8em 0 .5em 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#head ul li, dl ul li, #foot li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0 0.4em;
}

ul.aliases, ul.projects, ul.tools, ul.vhost {
	list-style: none;
	line-height: 24px;
}

ul.aliases a, ul.projects a, ul.tools a ,ul.vhost a {
	padding-left: 22px;
	background: url(../../index.php?img=pngFolder) 0 100% no-repeat;
}

ul.tools a {
	background: url(../../index.php?img=pngWrench) 0 100% no-repeat;
}

ul.aliases a, ul.vhost a {
	background: url(../../index.php?img=pngFolderGo) 0 100% no-repeat;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: bold;
	text-align: right;
	width: 12.5em;
	clear: both;
}

dd {
	margin: -1.35em 0 0 13em;
	padding-bottom: 0.4em;
	overflow: auto;
}
dd ul li {
	float: left;
	display: block;
	width: 16.5%;
  min-width: 140px;
	margin: 0;
	padding: 0 0 0 20px;
	background: url(../../index.php?img=pngPlugin) 2px 50% no-repeat;
	line-height: 1.6;
}

.divider1 {
    margin-top:5px;
    border-top:1px solid #999;
}

.divider2 {
    clear:both;
}

a {
	color: #024378;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #04569A;
	text-decoration: underline;
}

#foot, #error {
	text-align: center;
	margin-top: 1.8em;
	border-top: 1px solid #999;
	padding-top: 1em;
	font-size: 0.85em;
}

.column {
    min-width: 220px;
    float:left;
}

.two-columns .column {
    width: 50%;
}
.three-columns .column {
    width: 33%;
}
.four-columns .column {
    width: 25%;
}

code {
  color: #FFF;
  text-shadow: 1px 1px 0 #000;
  padding: 0.1% 0.5%;
  border-radius: 3px;
  background: #585858;
  font-size: 1.2em;
}

pre {
  width: 98%;
  overflow: auto;
  padding: 1%;
  border: #FF0099 1px solid;
  background: #585858;
}

@media screen and (max-width: 750px) {

    dt {
    	text-align: left;
    	width: 100%;
    	clear: left;
        margin: 2% 0 0 0;
    }

    dd {
    	margin: 0;
    	padding: 0.5% 1.5% 1% 1.5%;
    }
}
